<!-- Import the header (css,navbar and stuff) -->
<% include ./partials/header %>

<div class="container">

  <div class="starter-template">
    <h1>SYNC vs AJAX</h1>
    <p class="lead">This app will show the difference between using synchronous and asynchronous web-application models.</p>
  </div>

</div><!-- /.container -->

<!-- Import the footer (js and stuff) -->
<% include ./partials/header %>
    

